<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SystemMapper">
	<resultMap type="System" id="systemResultMap">
		<id		property="systemId" 	column="SYSTEM_ID"/>
		<result property="systemPw" 	column="SYSTEM_PW"/>
		<result property="systemName" 	column="SYSTEM_NAME"/>
	</resultMap>
	<select id="selectSystemId" resultMap="systemResultMap">
		SELECT * FROM SYSTEM_TBL WHERE SYSTEM_ID=#{systemId }
	</select>
</mapper>  