<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- NULL일 경우 NULL로 들어가게 -->
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" /> 
	</settings>
	<typeAliases>
		<typeAlias type="kr.co.baskinrobbins.member.domain.Member" alias="Member"/>
		<typeAlias type="kr.co.baskinrobbins.member.domain.BRSystem" alias="BRSystem"/>
		<typeAlias type="kr.co.baskinrobbins.board.domain.Board" alias="Board"/>
		<typeAlias type="kr.co.baskinrobbins.product.domain.IceCream" alias="iceCream"/>
		<typeAlias type="kr.co.baskinrobbins.product.domain.Product" alias="Product"/>
	</typeAliases>
	<!-- 메퍼 만들고 등록하기 -->
	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/BRsystem-mapper.xml"/>
		<mapper resource="mappers/board-mapper.xml"/>
		<mapper resource="mappers/iceCream-mapper.xml"/>
		<mapper resource="mappers/product-mapper.xml"/>
	</mappers>
</configuration>  