label {
    cursor: pointer;
}
#writeBox ::placeholder {
    text-align: center;
}
::placeholder {
    font-size: 20px;
}
#choose {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 30px;
    text-align: left;
    color: #F04DA3;
    padding-bottom: 30px;
    padding-left: 30px;
}
#modify {
    background-color: #402022;
    width: 120px;
    height: 30px;
    margin: 10px;
    border-radius: 50px;
    font-size: 23px;
    font-family: 'Nanum Gothic', sans-serif;
    border: 0px;
    font-weight: lighter;
    color: white;
    cursor: pointer !important;
}

#write {
    width: 230px;
    height: 70px;
    margin: 10px;
    border-radius: 50px;
    font-size: 25px;
    font-family: 'Nanum Gothic', sans-serif;
    border: 0px;
    font-weight: lighter;
    color: white;
    background-color: #402022;
    cursor: pointer !important;
}
.boardWrite {
	padding: 10px;
    font-size: 25px;
}
.upload-name {
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 860px;
    color: #999999;
    border-radius: 10px;
}
#fileLabel {
    width: 130px;
    height: 40px;
    font-size: 20px;
    background-color: #FFB84C;
    display: inline-block;
    border-radius: 30px;
    color: white;
    font-family: 'Nanum Gothic';
    margin-left: 8px;	
    display: flex;
}
#file {
	padding: 30px;
}
#fileDown {
	display: flex;
    justify-content: center;
}
#upload-name{
	font-size: 25px;
    font-weight: normal;
}
#detailFile {
	padding: 30px;
    display: flex;
    justify-content: center;
}
#modify {
    width: 230px;
    height: 70px;	
	margin: 10px;

    font-size: 25px;
}