
#downBtn {
	width: 130px;
    height: 40px;
    font-size: 16px;
    background-color: #2ab0f4;	
    margin-left : 20px;
    border: none;
    border-radius: 25px;
    color: white;
}

#modify {
    width: 250px;
    height: 70px;	
	margin: 10px;
    font-size: 25px;
    background-color: #F04DA3;
}
#back{
    width: 250px;
    height: 70px;	
	margin: 10px;
    font-size: 25px;
    background-color: #402022;	
}

#detailFile {
	display: flex;
    justify-content: center;
    padding-top: 25px;
}